h1 {
    text-align: center;
    margin-bottom: 40px;
}

table {
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
}

tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

tr {
    background-color: #e74c3c;
}

td, th {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

@media only screen and (max-width: 760px) {
    td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #e74c3c;
    }

    tr + tr {
        margin-top: 1.5em;
    }

    td {
        border: none;
        border-bottom: 1px solid #333;
        position: relative;
        padding-left: 50%;
        /* background-color: #f8d9d5; */
        text-align: left;
    }

    td::before {
        content: attr(data-label);
        display: inline-block;
        line-height: 1.5;
        margin-left: -100%;
        width: 100%;
        white-space: nowrap;
    }

}